{% extends "generic.html" %}
{% block body %}
<script>    
     window.setTimeout(function(){

       // Move to a new location or you can do something else
       window.location.reload(true);

       }, 5000);

 </script>
	{% if name %}
     <h1>Zalogowany jako {{ name }}!</h1>	
	{% endif %}
{% block content %}
	{% if ppl %}
	<ul>
	{% for person in ppl %}
     <li>Gracz: {{ person }}</li>	
	</ul>
	{% endfor %}
	{% endif %}
	<h2>Koniec graczy, teraz pokoje</h2>
	{% if rooms %}
		{% for room in rooms %}
			<p>____________________</p>
			<ul>
			{% for person in room%}
				<li>gracz w pokoju:{{ person }}</li>
			{% endfor %}
			</ul>
		
		{% endfor %}
	{% endif %}
	<p>miejsce w pokoju: {{place}}</p>
{#    <form method="post">
        <button type="submit">Do it!</button>
    </form>#}
{% endblock %}
{% endblock %}
