{% extends 'start_gry.html' %}

{% block scripts %}

<script>  
	
{#
	if (document.referrer !== document.location.href) {
		setTimeout(function() {
		var dis = document.getElementById('dis')
		document.location.reload()
		dis.disable = true;	
  }, 7000);
}  
     window.setTimeout(function(){

       // Move to a new location or you can do something else
       window.location.reload(true);

       }, 5000);
#}
 </script>

{#{% if przeciwnik %}
	<p id="dis">{{przeciwnik.nick}} ma karty {{przeciwnik.reka}}</p>
{% endif %}#}
{% endblock %}
{% block body %}
{{ super() }}
{% endblock %}
